snippet snip
snippet $1 "$2" b
$2
end.snippet
$0
endsnippet

snippet flex 
display: flex;
justify-content: center;
align-items: center;
$0
endsnippet

snippet bgimg 
background-image: url('$1');
background-size: cover;
background-position: center center;
$0
endsnippet

snippet ex
@extend .$1;$0
endsnippet

snippet bp
@include breakpoint(mobile) {
	$0
} 
endsnippet

snippet break
@include breakpoint($mobile-tablet) {
	$0
} 
endsnippet
