snippet %
{% $1 %}$0
endsnippet

snippet %c
{% component '$1' %}$0
endsnippet

snippet %p
{% partial '$1' %}$0
endsnippet

snippet %for
{% for $1 in $2 %}
	$0
{% endfor %}
endsnippet

snippet %if
{% if $1 %}
	{% $2 %}
{% endif %}
$0
endsnippet
