snippet cb
/*
|===============================================================
|    $1
|===============================================================
*/
$0
endsnippet

snippet cb2
================ $0 ======================
endsnippet

snippet td
// [ $1] $0
endsnippet
