<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.digitalcarpentry.settings.screen</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/{replace-user}/.screen-settings/screen-swap.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>1</integer>
    <key>ThrottleInterval</key>
    <integer>0</integer>
    <key>StandardOutPath</key>
    <string>/Users/{user}/.screen-settings/screen.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/{replace-user}/.screen-settings/error.log</string>
</dict>
</plist>
