'atom-text-editor.vim-mode-plus.normal-mode':
  'space t': 'fuzzy-finder:toggle-file-finder'
  'space o': 'fuzzy-finder:toggle-buffer-finder'
  'space w': 'core:save'
  'space e': 'application:open-your-keymap'
  'space d': 'core:close'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'space space': 'vim-mode-plus:activate-linewise-visual-mode'
  'alt-k': 'vim-mode-plus-user:move-selected-text-up'
  'alt-j': 'vim-mode-plus-user:move-selected-text-down'
  'alt-h': 'vim-mode-plus-user:move-selected-text-left'
  'alt-l': 'vim-mode-plus-user:move-selected-text-right'
  'ctrl-h': 'keystroke ^'
  'ctrl-l': 'keystroke $'
  'ctrl-k': 'keystroke 5 k'
  'ctrl-j': 'keystroke 5 j'

  'backspace': 'core:move-to-top'
  'enter': 'core:move-to-bottom'
